// Import Google Font
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

/* CSS Custom Properties Definitions */
@import "constant.scss";
@import "heading.scss";
@import "prose.scss";
@import "clasess.scss";
@import "link.scss";
@import "header.scss";

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: $lineHeight-normal;
  font-size: $fontSize-root;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-body;
  font-size: $fontSize-1;
  color: $color-text;
  background-color: $background-color;
}

footer {
  padding: $spacing-6 $spacing-0;
}

hr {
  background: $color-accent;
  height: 1px;
  border: 0;
}

img {
  border-radius: 5px;
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: $spacing-0 $spacing-0 $spacing-0 $spacing-4;
    margin-left: $spacing-0;
  }
  ul,
  ol {
    list-style-position: inside;
  }
}
